body {
    background-color:#dbdbdb;
    padding: 0;
    margin: 0;
}
.container {
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.block {
    background: white;
    vertical-align: top;
    border-radius: 5px;
}
.space{
    min-width: 110px;
    max-width: 110px;
    width: 110px;
    display: inline-block;

}

.container .list-of-items {
     float: left;
     display: inline-block;
     width: 730px;
     height: 65px;
     margin-top: 90px;
    margin-left: 120px;

}

.right {
    display: inline-block;
    width: 310px;
    height: 215px;
    margin-left: 30px;
    margin-top: 90px;
  }

.right .right1 {
    margin-top: 20px;
    font-size: 20px;
    vertical-align: 20px;
    border-bottom: #dbdbdb solid 1px;
    text-indent: 10px;
    height: 45px;
    }

.right .right2{
    border-bottom: #dbdbdb solid 1px;
    text-indent: 10px;
    height: 20px;
    visibility: hidden;
    }

.right .right3{
    font-size: 20px;
    border-bottom: #dbdbdb solid 1px;
    border-top: #dbdbdb solid 1px;
    text-indent: 10px;
    line-height: 38px;
    height: 38px;
    background: white;
    }
.right .boughtProducts{
    height: 60px;
    background: white;
    display: block;
}

.right2 .box1{
        width: 100px;
        vertical-align: middle;
         height: 35px;
        line-height: 35px;
        display: inline-block;
        font-size: 15px;
        margin-left: 5px;
        margin-right: 6px;
        margin-top: 5px;
       background: #dbdbdb;
        border-radius: 5px;

    }

.right2 .box2{
    margin-top: 5px;
    border-radius: 5px;
    width: 90px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    background: #dbdbdb;
    margin-right: 6px;
    }

.right2 .box3 {
    margin-top: 5px;
    border-radius: 5px;
    width: 70px;
    vertical-align: middle;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    background: #dbdbdb;
     }

.left1{
    font-size: 17px;
    height: 50px;
    text-indent: 10px;
     }
.edit .edit1{
    display: none;
}
.list-of-items .one-item2{
    text-align: center;
    margin-top: 10px;
    height: 50px;
    color: #414141;
    padding: 0 1.5em;
    font-size: 17px;
    border-bottom: #dbdbdb solid 1px;
     }

.list-of-items .one-item3{
    text-align: center;
    margin-top: 10px;
    height: 50px;
    color: #414141;
    padding: 0 1.5em;
    font-size: 17px;
    border-bottom: #dbdbdb solid 1px;
     }

.list-of-items .one-item4{
    text-align: center;
    margin-top: 10px;
    height: 50px;
    color: #414141;
    padding: 0 1.5em;
    font-size: 17px;
     }
.container .list-of-items .unbought{
    display: none;
    background-color:#dbdbdb;

}

.text {
    margin-left: 25px;
    display: inline-block;
    width: 470px;
    height: 40px;
    line-height: 3em;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    padding: 0 1.5em;
}

.button1 {
    display:inline-block ;
    background: #6180ff;
    border-radius: 2px;
    border: 1px solid #6180ff;
    box-shadow: 0.1px  2px #445cb4;
    color: white;
    width: 150px;
    height: 41px;
    margin-left: -15px;
}

.button2 {
    font-weight: 900;
    margin-left: 155px;
    font-size: 12px;
    opacity: 0.5;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: white;
    outline: none;
    border-radius: 15px;
    background: red;
    box-shadow: 0.1px  2px #bf0b07;
    border: none;
}

.button3 {
    font-size: 12px;
    margin-right: 220px;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: white;
    outline: none;
    box-shadow: 0.1px  2px #008a00;
    border-radius: 15px;
    background: #00b500;
    border: none;
}

.button4{
    font-size: 12px;
    font-weight: 900;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #606060;
    outline: none;
    border-radius: 5px;
    background: #dbdbdb;
    border: none;
}
.button5{
    line-height: 27px;
    display: inline-block;
    background: #e1e1e1;
    color: #555555;
    width: 90px;
    height: 27px;
    border: 1px solid #c5c1c1;
    box-shadow: 0.1px  2px #c5c1c1 ;
    border-radius : 4px ;
    font-size: 11px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

.button6{
font-size: 9px;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-weight: 900;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background: #d20b07;
    box-shadow: 0.1px  2px #9a0b07;
    border: none;
}

.button7{
    display: inline-block;
    width: 18px;
    height: 18px;;
    vertical-align: middle;
    line-height: 18px;
    text-indent: initial;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: normal ;
    border-radius: 9px;
    background: #ff8833;
    border: none;
}

.space1{
    width: 16px;
    display: inline-block;

}

.space2{
    width: 45px;
    display: inline-block;

}
.container .beidge{
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    position: fixed;
    width: 150px;
    height: 150px;
    background: #700f98;
    transform: translateY(80px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.beidge:hover{
    transform: translateY(0px);
    background: blue;
    transition:	all	2s	ease;
}
.beidge .b1{
    margin-top: 20px;
    margin-left: 30px;
    display: inline-block;
    font-size: 22px;
    text-align: center;
    color: white;
}
.beidge .b2{
    margin-top: 40px;
    margin-left: 30px;
    display: inline-block;
    color: white;
    font-size: 13px;
}
.beidge .b3{
    margin-top: 5px;
    margin-left: 15px;
    display: inline-block;
    color: white;
    font-size: 16px;
}
@media print{
    .beidge{
        height: 40px;
        background: white;
        border: 2px solid #700f98;
        color: black;
    }
    .beidge .b1{
        display: none;
        }
    .beidge .b2{
        margin-top: 15px;
        display: inline-block;
        color: black;
    }
    .beidge .b3{
        margin-top: 8px;
        display: inline-block;
        color: black;
    }
}

@media (max-width: 500px){
    .left{
        width: 100%;
        float: none;
    }
    .right{
        width: 100%;
        float: none;
    }
}


button {
    position: relative;
    box-sizing: border-box;
}
button::after {
    display: block;
    content: attr(data-tooltip);
    position: absolute;
    top: -22px;
    right: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 20px;
    padding: 3px;
    box-sizing: border-box;
    background: #700f98;
    color: white;
    font-size: 10px;
    font-weight: normal ;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
    visibility: hidden;
    transform: scale(0) ;
    transform-origin: 50% 100%;
    transition: all 1s ease;

}

button:hover::after {
    visibility: visible;
    transform: scale(1);
    transform-origin: 0% 0% ;

}